zoo/resources/species/specie.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="animal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="names">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="fr"/>
                            <xs:element name="additionalFrenchNames">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="en"/>
                            <xs:element name="additionalEnglishNames">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="scientific"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="general">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="uicn"/>
                            <xs:element type="xs:string" name="family"/>
                            <xs:element name="continents">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="continent" maxOccurs="unbounded" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:integer" name="ecoregion"/>
                            <xs:element type="xs:string" name="breedingProgramme"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="documentation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="frenchWikipedia"/>
                            <xs:element type="xs:string" name="englishWikipedia"/>
                            <xs:element type="xs:string" name="animalDiversity"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="reproduction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="femaleMaturity"/>
                            <xs:element type="xs:integer" name="maleMaturity"/>
                            <xs:element type="xs:decimal" name="gestationFrequency"/>
                            <xs:element type="xs:integer" name="gestationDuration" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:integer" name="litterSize"/>
                            <xs:element type="xs:integer" name="weaningAge" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:integer" name="leavingAge" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lifespan">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:decimal" name="femaleLifespan"/>
                            <xs:element type="xs:decimal" name="maleLifespan"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="territory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:decimal" name="territorySize"/>
                            <xs:element name="biomes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="biome" maxOccurs="unbounded" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="feeding">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:decimal" name="quantity"/>
                            <xs:element type="xs:int" name="size"/>
                            <xs:element name="diets">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:integer" name="diet" maxOccurs="unbounded" minOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:int" name="fastDays" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="social">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="groupSize"/>
                            <xs:element type="xs:string" name="territorial" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="activityPeriods" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="period" minOccurs="1" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="socialStructures" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="structure" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="maleParticipationInBreeding" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="isolationOfYoung" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tags" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="frenchTags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="tag" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="englishTags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="tag" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

