zoo/gameBackUps/zooModel.xsd

<!--<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zoo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dimensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="width"/>
              <xs:element type="xs:byte" name="height"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="age"/>
        <xs:element type="xs:byte" name="monthsPerEvaluation"/>
        <xs:element type="xs:byte" name="horizon"/>
        <xs:element name="paddocks">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="paddock">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="x"/>
                    <xs:element type="xs:byte" name="y"/>
                    <xs:element type="xs:byte" name="width"/>
                    <xs:element type="xs:byte" name="height"/>
                    <xs:element name="animals">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                          <xs:element name="animal">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="specie"/>
                                <xs:element type="xs:string" name="sex"/>
                                <xs:element type="xs:byte" name="age"/>
                                <xs:element name="optimalFeedingAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="quantity"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="actualFeedingAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="diet"/>
                                      <xs:element type="xs:float" name="quantity"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="actualReproductionAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="femaleMaturityAge"/>
                                      <xs:element type="xs:byte" name="maleMaturityAge"/>
                                      <xs:element type="xs:float" name="gestationFrequency"/>
                                      <xs:element type="xs:byte" name="litterSize"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="actualLifeSpanAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:short" name="lifeSpan"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="optimalSocialAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="groupSize"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="optimalTerritoryAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="territorySize"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zoo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dimensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="width"/>
              <xs:element type="xs:byte" name="height"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="age"/>
        <xs:element type="xs:byte" name="monthsPerEvaluation"/>
        <xs:element type="xs:byte" name="horizon"/>
        <xs:element type="xs:string" name="paddocks"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
