zoo/specie.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="animal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="names">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="fr"/>
                            <xs:element type="xs:string" name="en"/>
                            <xs:element type="xs:string" name="scientific"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="general">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="uicn"/>
                            <xs:element type="xs:string" name="family"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="reproduction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="femaleMaturity"/>
                            <xs:element type="xs:integer" name="maleMaturity"/>
                            <xs:element type="xs:decimal" name="gestationFrequency"/>
                            <xs:element type="xs:integer" name="litterSize"/>
                            <xs:element type="xs:integer" name="leavingAge"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lifespan">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:decimal" name="femaleLifespan"/>
                            <xs:element type="xs:decimal" name="maleLifeSpan"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="territory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="biome"/>
                            <xs:element type="xs:decimal" name="territorySize"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="feeding">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="diet"/>
                            <xs:element type="xs:decimal" name="quantity"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="social">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="groupSize"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

