zooPOC/src/save/poc/JDOM2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="personnes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="etudiant" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nom"/>
              <xs:element type="xs:string" name="prenom" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="classe" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>